.search-box {
    background-color: var(--background-overlay, #fff);
    color: var(--overlay-text-color, #000);
    display: flex;
    border-radius: 100px;
    margin-bottom: 50px;
}

.search-box svg {
    width: 24px;
    height: 24px;
    margin: 12px;
    stroke: var(--overlay-icon-color, #ccc);
}

.search-box input {
    appearance: none;
    padding: 12px;
    padding-left: 0;
    border: none;
    background: none;
    width: calc(100% - 48px);
    outline: none;
    color: inherit;
}